<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset='UTF-8' />
    <title>Floats</title>
    <link rel='stylesheet' href='style.css' />
</head>

<body>
    <div class='menu'>Menu</div>
  
    <div class='container'>                 <!-- Adicione isto -->
      <div class='page'>
        <div class='sidebar'>Sidebar</div>
        <div class='content'>Content</div>
      </div>
    </div>                                  <!-- Adicione isto -->
  
    <div class='footer'>
        <div class='column'></div>
        <div class='column'></div>
        <div class='column'></div>
      </div>
  </body>
</html>